<section class="top-footer">
    <h3>Vindt je het leuk om onze minor een gastles te geven? Neem contact op!</h3>
    <a href="mailto:v.van.gemert@hva.nl?subject=Hi,%20ik%20heb%20een%20vraag%20over%20de%20minor%20Web%20Design%20en%20Development" class="contactButton">
        Mail ons
      </a>
</section>
<p>Kevin Boere | Minor webdesign & development | 2023/2024</p>

<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("/js/service-worker.js")
        .then((registration) => {
          console.log("Service Worker registered successfully:", registration);
        })
        .catch((error) => {
          console.log("Service Worker registration failed:", error);
        });
    });
  }
</script>