<form id="stepForm" action="/posts" method="POST" enctype="multipart/form-data">
  <div class="step" id="step1">
    <h2>Gast details</h2>
    <label for="image">Foto van gast</label>
    <input type="file" id="image" name="image" accept="image/*" />
    <br />
    <label for="naam">Naam van gast</label>
    <input type="text" id="naam" name="guestName" required />
    <br />
    <label for="job">Functie van gast</label>
    <input type="text" id="job" name="guestJob" required />
    <br />
    <label for="quote">Quote van gast</label>
    <input type="text" id="quote" name="guestQuote" required />
    <br />
    <label for="link">URL van bedrijf</label>
    <input type="text" id="link" name="guestCompany" required />
    <br />
    <label for="skillset">Skillset van gast (comma-separated)</label>
    <input type="text" id="skillset" name="guestSkillset" required />
    <br />
    <label for="mail">Mail van gast</label>
    <input type="mail" id="mail" name="guestMail" required />
    <br />
    <label for="social">linkdin van gast</label>
    <input type="text" id="social" name="guestSocial" required />
    <br />

    <button type="button" onclick="nextStep()">Next</button>
  </div>

  <div class="step" id="step2">
    <h2>Gastles details</h2>
    <label for="gastles">NR. van gastles</label>
    <input type="number" id="gastles" name="guestNumber" required />
    <br />
    <label for="thema">Thema van gastles</label>
    <input type="text" id="thema" name="guestTheme" required />
    <br />
    <label for="thema">Datum van gastles</label>
    <input type="text" id="thema" name="guestDate" required />
    <br />
    <label for="tags">Tags (comma-separated):</label>
    <input type="text" id="tags" name="tags" required />
    <br />

    <button type="button" onclick="nextStep()">Next</button>
    <button type="button" onclick="prevStep()">Previous</button>
  </div>

  <div class="step" id="step3">
    <h2>Gastles text</h2>
    <label for="content">Content van gastles:</label><br />
    <div id="editor"></div>
    <input type="hidden" name="quillContent" id="quillContent">
  <!-- <textarea id="content" name="content" rows="5" cols="50" required></textarea> -->
    <button type="button" onclick="prevStep()">Previous</button>
    <button type="submit">Submit</button>
  </div>
</form>
