* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bgClrFooter: #f7f7f7;
  --bgAccentClrFooter: #dfe3ff;

  --borderRadiusLg: 1rem;
}

/* ================================= 
    Algemene stijling
  ==================================== */

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

/* // buttton styling */

.contactButton {
  background: #7079f0;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  cursor: pointer;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #5566c2;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #5566c2;
}

.contactButton:focus-visible {
  outline: 8px ridge rgba(220, 50, 112, 0.6);
}

/* ================================= 
    Main stijling blog overview
  ==================================== */
main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .overview {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1280px;
  margin-top: 50px;
}
main .overview a {
  text-decoration: none;
  color: #000;
}
main .overview article {
  list-style: none;
  margin-bottom: 2rem;
  border-radius: var(--borderRadiusLg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: calc(100% / 3 - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .overview article .article-top {
  position: relative;
  background: #f7f7f7;
  border-radius: var(--borderRadiusLg);
  height: 200px;
}
main .overview article .article-top:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 40px;
  top: 3px;
  right: 10px;
  background-image: url(../img/overlay-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
main .overview article .article-top img {
  position: relative;
  width: 80%;
  height: 200px;
  top: 20px;
  object-fit: contain;
  border-radius: var(--borderRadiusLg) var(--borderRadiusLg) 0 0;
}
main .overview article .article-top p {
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: #000;
  border-top-left-radius: var(--borderRadiusLg);
  border-bottom-left-radius: var(--borderRadiusLg);
  color: #fff;
  word-break: break-word;
}

main .overview article .article-bottom {
  padding: 1rem 2rem 2rem;
}
main .overview article .article-bottom span {
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
main .overview article .article-bottom span.html-class {
    background-color: #dfe3ff;
}
main .overview article .article-bottom span.css-class {
  background-color: #FCC6C6
}
main .overview article .article-bottom span.js-class {
  background-color: #FFFBDE
}

main .overview article .article-bottom span.themes {
    background-color: #EDEDED
  }
main .overview article .article-bottom h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
main .overview article .article-bottom quote {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-style: italic;
  font-weight: 300;
}

/* ================================= 
    Footer stijling
  ==================================== */

footer {
  position: relative;
  text-align: center;
}

footer p {
  font-weight: 300;
  width: 100%;
  background-color: var(--bgClrFooter);
  padding: 5rem 1rem 1rem 1rem;
}

section.top-footer {
  position: relative;
  bottom: -3rem;
  background-color: var(--bgAccentClrFooter);
  padding: 2rem;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  border-radius: var(--borderRadiusLg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.top-footer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1280px) {
  main .overview {
    width: 100%;
    padding: 0 1rem;
  }
  main .overview article {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  section.top-footer {
    width: 90%;
  }
}
