<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  
</header>

<main>
<h1>Ja het is gelukt!!!!</h1>

terug naar overzicht: <a href="/">klik hier</a>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script src="/js/index.js"></script>
</body>
</html>